body {background-image: url(background.webp);
background-repeat: no-repeat;
background-size: cover;}
#cont {width: 80%;
			margin-left: auto;
			margin-right: auto;
			border: 5px solid black;
			background-image: none;}
main {background-color: #e0ffe0;}
h1 {font-family: Monaco, courrier new, sans-serif;
font-weight: bold;
color: red;
text-align: center;
font-size: 50px;
background-color: white;
padding: 50px;
border: groove red;}
h2 {font-family: Tahoma, Verdana, Arial;
font-size: 35px;
color: #f08000;}
h3 {font-family: Geogria, sans-serif;
font-size: 25px;
text-align: center;}
img {display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;}
ul {list-style-type: none;
margin: 0;
padding: 0;}
li a {color: white;
text-align:center;
padding: 20px 20px;
display: inline; }
p {color: black;
font-family: Verdana, Helvetica, sans-serif;
font-size: 20px;
text-align: center;}
nav {background-color: green;
border: double #fbe106;}
nav ul {list-style-type: none;}
nav li {display: inline;}
nav a {text-decoration: none; padding: 35px;
color: #fbe106;
font-family: "Comic Sans MS";
font-size: 35px;
text-align: center;}
nav a:hover {color: #ed9191;}
footer {text-align: center;
	font-style: italic;
	background-color: whitesmoke;}